# estensioni di file
*.pdf
*.png
*.xlsx
*.doc
*.docx
*.zip

 # cartelle nel progetto
foto
Progetto Strutturale
Rapporti con Cristian Seghetti
Notifica preliminare
Termotecnico
documenti SCIA
SCIA modificata
